<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Will's This or That</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/ttstyle.css">
</head>
<body>
    <header>
        <form id="form">
            <input type="number" id="number" placeholder="Number between 1 to 60" >
        </form>
    </header>
    
    <main id="main">

        <div id="this_or_that" class="container">
            <div class="card-front">
                <img src="thisorthat.png" alt="">
                <h2 id="card_number" class="top-right">
                    1
                </h2>
            </div>
            <div class="card-back">
                <h3  id="this_or_that_option" class="info">
                    Build or Plan
                </h3>
            </div>
        </div>

        <div id="this_or_that" class="container blinking">
            <div class="card-front ">
                <img src="thisorthat.png" alt="">
                <h2 id="card_number" class="top-right ">
                    2
                </h2>
            </div>
            <div class="card-back">
                <h3 id="this_or_that_option" class="info">
                    Run or Gym
                </h3>
            </div>
        </div>

        <div id="this_or_that" class="container">
            <div class="card-front">
                <img src="thisorthat.png" alt="">
                <h2 id="card_number" class="top-right">
                    3
                </h2>
            </div>
            <div class="card-back">
                <h3 id="this_or_that_option" class="info">
                    food home or outside 
                </h3>
            </div>
        </div>

        <div id="this_or_that" class="container">
            <div class="card-front">
                <img src="thisorthat.png" alt="">
                <h2 id="card_number" class="top-right">
                    3
                </h2>
            </div>
            <div class="card-back">
                <h3 id="this_or_that_option" class="info">
                    food home or outside 
                </h3>
            </div>
        </div>
        


    </main>

   
    <script src="./static/ttscript.js"></script>
</body>
</html>